/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/

body {
  background: #F5F8FA;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
  ========================================
  Layout
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 590px;
}

.center-align {
  text-align: center;
}

/*
  ========================================
  Links
  ========================================
*/

a {
  text-decoration: none;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  background: #0091c6;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 14px;
  text-decoration: none;
}

.btn:hover {
  background: #0077A2;
}

.btn-disabled {
  background: #b7dbe9;
  color: #f4f4f4;
  cursor: default;
  pointer-events: none; 
}

/*
  ========================================
  Tweets
  ========================================
*/

.tweetbox {
  background: #fff;
  border: solid #e5e5e5;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;

}

.tweet {
  border-bottom: 1px solid #e5e5e5;
  padding-left: 5px;
}

.picture {
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  height: 50px;
  width: 50px;
}

.content {
  display: inline-block;
  margin-top: 10px;
  vertical-align: top;
  width: 460px;
}

.name {
  color: #000;
  font-weight: bold;
}

.name:hover {
  color: #55ACEE;
  text-decoration: underline;
}

.user,
.date {
  color: #adadad;
  font-size: 16px;
}

.message {
  display: block;
}

/*
  ========================================
  Tweet form
  ========================================
*/

.tweet-form {
  background: #E5F2F7;
  border: 1px solid #aee0f2;
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  margin-top: 20px;
  padding: 10px 10px 10px 30px;
  text-align: right;
}

input,
textarea {
  border: 1px solid #aee0f2;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  line-height: 1.5em;
  outline: inherit;
  padding: 10px;
  resize: none;
  width: 100%;
}

textarea {
  margin-bottom: 4px;
}

.char-count {
  color: #a5a5a5;
  font-size: 14px;
  padding: 10px;
}
